@charset "UTF-8";

body {
  margin: 0;
  padding: 0;
}


/* チャプター：ヘッダー */
header {
    width: 1000px;
    background-color: #ffcccc;
}

header p {
  margin: 0;
}

/* チャプター：メインとサイド */
#wrapper{
  display: flex;
  width: 1000px;
}
#main {
  background-color: #ccffcc;
  width: 700px;
}

#menu {
  background-color: #ccccff;
  width: 300px;
}

/* チャプター：フッター */
footer {
  width: 1000px;
  background-color: #ffccff
}

footer p {
  margin: 0;
}